<section>
  <ng-container *ngIf="subjects$ | async as data; else loading">
    <div class="list-subject" *ngIf="data.length">
      <div *ngFor="let subject of data">
        <app-subject
          (subscribeBubbleUp)="onSubscribe($event)"
          [subject]="subject"
        >
        </app-subject>
      </div>
    </div>
    <div class="list-subject" *ngIf="!data.length">
      <p>No subjects to subscribe</p>
    </div>
  </ng-container>
  <ng-template #loading>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</section>
